/* Global begin*/
:root {
	--Gray: #333333;
	--White: #ffffff;
}
h3 {
	border-bottom: 1px solid #000000;
}
p {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 80%;
}
div, header, section, footer {
	margin: auto;
	margin-bottom: 10px;
	text-align: center;
}
* {
	box-sizing: border-box;
}
/*Global end*/

/*Header begin*/
header {
	margin: 0 10% 10px 10%
}
#title {
	text-shadow: 2px 2px 4px var(--Gray);
}
.list_menu ul {
	list-style-type: none;
	overflow: hidden;
	background-color: var(--Gray);
	margin: 0 30% 0 30%;
	padding: 0;
}
.list_menu ul li {
	float: left;
	width: 50%;
}
.list_menu ul li a {
	display: block;
	color: var(--White);
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
.list_menu li a:hover {
	background-color: #111111;
}
/*Header end*/

/*Section begin*/
section {
	border: 1px solid #000000;
	background-color: #f1f1f1;
	box-shadow: 2px 2px 4px var(--Gray);
	padding: 10px;
	width: 80%;
	overflow: hidden;
}
.content {
	text-align: left;
	padding: 10px 10px 0 10px;
}
#profile {
	height: 226px;
	width: 200px;
}
/*Section end*/

/*Footer element with socials*/
footer {
	position: relative;
	background: var(--Gray);
	height: 100px;
}
footer>span{
	position: relative;
	bottom: -10px;
	margin: 0 5px 0 5px;
}
.last {
	position: relative;
	left: 50%;
	bottom: -30%;
}
#last {
	position: relative;
	left: -50%;
	font-size: 10px;
	color: var(--White);
}
.fa {
	padding: 10px;
	font-size: 20px;
	width: 40px;
	text-decoration: none;
	border-radius: 50%;
	color: var(--White);
}
.fa:hover {
	opacity: 0.7;
}
.fa-facebook {
	background: #3B5998;
}
.fa-instagram {
	background: #125688;
}
.fa-github {
	background: var(--White);
	color: #000000;
}
/*Footer end*/

.bibliografy {
	font-size: 90%;
}
