.hub_wrapper {
	max-width: 100%;
	text-align: center;
	/*Center the icons*/
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}
.hub {
	display: inline-block;
}
.top_hub, .bot_hub {
	/*center the icons over and under title*/
	display: inline-block;
}
a {
	display: block;
	margin: 10px;
	float: left;
}
img {
	display: inherit;
	margin: auto;
}
.hub_ico {
	opacity: 0.6;
}
.hub_btn {
	max-width: 150px;
	height: 150px;
}
.txt {
	max-width: 100px;
	height: 28px;
}
.hub_btn:hover, .txt:hover {
	/*fade effect over the icons*/
	opacity: 1;
	transition: .5s ease;
}
.title_ico {
	width: auto;
	height: auto;
}