body {
	background-image: url("../Resources/Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: cover;
	color: #ffffff;
}
.body {
	background: rgba(0, 0, 0, 0.5);
	width: 80%;
	overflow: hidden;
	padding: 10px;
	margin: auto;
	box-shadow: 2px 2px 4px #333333;
}
header {
	background: rgba(51, 51, 51, 0.5);
	border-radius: 0 0 5px 5px;
	margin-bottom: 10px;
}
.loggo {
	display: block;
	margin: auto;
	padding-top: 5px;
	width: 187px;
	height: 187px;
}
/*------------MENU------------*/
nav {
	color: #000000;
	display: block;
}
.menu {
	color: #ffffff;
	list-style-type: none;
	overflow: hidden;
	background-color: #333333;
	margin: auto;
	padding: 0;
	width: 50%;
}
.menuI {
	float: left;
}
.ip {
	float: right;
	background-color: #111111;
}
.menuI a, .ip {
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	padding: 10px;
}
.menuI a:visited, .menuI a:hover, .menuI a:active {
	text-decoration: none;
	color: #ffffff;
}
.menuI:hover {
	background-color: #111111;
}
.menuI.dropdown {
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333333;
	box-shadow: 1px 1px 5px #333333;
	z-index: 1;
}
.dropdown:hover .dropdown-content, .dropdown-content a {
	display: block;
}
.dropdown-content a:hover{
	background-color: #111111;
}
	
/*------------CONTENT------------*/
section{
	min-height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #000000;
	border-radius: 5px 5px 5px 5px;
	padding:10px;
}
.modes{
	text-align:center;
}
.survival, .creative{
	margin-top:50px;
	max-width:100%;
	height:auto;
}

/*------------FOOTER------------*/
.Bottom {
	position: relative;
	background: #333333;
	height: 100px;
}
.copy {
	position: relative;
	bottom: -80%;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
}